@tailwind base;
@tailwind components;
@tailwind utilities;

html[data-theme="dark"] {
  --bg: #1a1a1c;
  --fg-50: #6b7280;
  --fg-100: #fafafc;
  --fg-alt: #ff5858;
  --one: #3b82f6;
  --two: #22c55e;
  --three: #ff5858;
  --four: #6366f1;
  --five: #f97316;
  --six: #06b6d4;
  --seven: #8b5cf6;
  --eight: #6b7280;
  --hidden-bg: #fafafc;
  --mine-bg: #ff5858;
  --mine-fg: #1a1a1c;
  --flag-bg: #fafafc;
  --flag-fg: #1a1a1c;
  --highlight-click: #f97316;
  --highlight-dig: #ff5858;
  --annotate-mine: #ff5858;
  --annotate-safe: #22c55e;
  --annotate-info: #22c55e;
}

html[data-theme="dark-high-contrast"] {
  --bg: #000000;
  --fg-50: #6b7280;
  --fg-100: #ffffff;
  --fg-alt: #ef4444;
  --one: #3b82f6;
  --two: #22c55e;
  --three: #ef4444;
  --four: #6366f1;
  --five: #f97316;
  --six: #06b6d4;
  --seven: #8b5cf6;
  --eight: #6b7280;
  --hidden-bg: #fafafc;
  --mine-bg: #ef4444;
  --mine-fg: #000000;
  --flag-bg: #fafafc;
  --flag-fg: #000000;
  --highlight-click: #f97316;
  --highlight-dig: #ef4444;
  --annotate-mine: #ef4444;
  --annotate-safe: #22c55e;
  --annotate-info: #22c55e;
}
